<div class="center hero-unit">
    <h1>Welcome to the</h1>
    <h1>Twitter Search App</h1>

  <h2>This is the home page for the</h2>
  <h2>Twitter Actress Search Application.</h2>

  <p>TODO: Insert super awesome text field box</p>
  <!--
  <%= link_to "Sign up now!", '#', class: "btn btn-large btn-primary" %>
  -->
</div>

<%= link_to image_tag("http://www.wipl.com/wp-content/uploads/2013/07/ruby.png", alt: "Rails") %>
