<div class="center hero-unit">
    <h2>Found Result!</h2>
    <h2><%= @actress_name + " || " + @actress_twitter_url %></h2>

</div>

<%= link_to image_tag("http://www.wipl.com/wp-content/uploads/2013/07/ruby.png", alt: "Rails") %>
